In [2]:
import numpy as np
import pandas as pd

# Part A:- Data Loading & Basic Operations

In [1]:
customersDf = pd.read_csv('Datasets/customers.csv')
productsDf = pd.read_csv('Datasets/products.csv')
transactionsDf = pd.read_csv('Datasets/transactions.csv')

NameError: name 'pd' is not defined

In [3]:
#shape of Dataframes
print("Customers Dataframe shape:-" , customersDf.shape)
print("Products Dataframe shape:- " , productsDf.shape)
print("Transactions Dataframe shape:- ", transactionsDf.shape)

Customers Dataframe shape:- (2000, 6)
Products Dataframe shape:-  (150, 5)
Transactions Dataframe shape:-  (10015, 7)

In [4]:
# displaying first three rows of each Dataframe

print("Customers DataFrame:")
print(customersDf.head(3), "\n")

print("Products DataFrame:")
print(productsDf.head(3), "\n")

print("Transactions DataFrame:")
print(transactionsDf.head(3))

Customers DataFrame:
   customer_id customer_name                  email signup_date    country  \
0            1    Customer41  customer410@yahoo.com  2022-01-28         UK
1            2     Custome41   custome411@email.com  2023-10-28     Mexico
2            3    customer41  customer412@email.com  2023-04-05  Australia

    age
0  30.0
1  29.0
2  69.0

Products DataFrame:
   product_id   product_name category  supplier_id  cost_price
0           1  Product_OFF_0     Toys           28      113.16
1           2  Product_SPO_1    Books           43      166.06
2           3  Product_SPO_2    Books           47      128.13

Transactions DataFrame:
   transaction_id  customer_id  product_id  quantity   price  \
0            4292          130          89       1.0  112.87
1            9107          271          98       1.0  211.90
2            7842           66          33       1.0  225.04

             timestamp payment_method
0  2024-08-17 09:13:00    Credit Card
1  2023-11-17 20:50:00         PayPal
2  2023-03-21 23:23:00  Bank Transfer

In [5]:
# Datatypes of all columns in each DataFrame

#customersDf 
print("Customers Dataframe Datatypes:-")
print(customersDf.dtypes, "\n ")

#productsDf
print("Products Dataframe Datatypes:- ")
print(productsDf.dtypes , "\n")

#transactionsDf
print("Transaction Dataframe Datatypes:- ")
print(transactionsDf.dtypes , "\n")

Customers Dataframe Datatypes:-
customer_id        int64
customer_name     object
email             object
signup_date       object
country           object
age              float64
dtype: object

Products Dataframe Datatypes:-
product_id        int64
product_name     object
category         object
supplier_id       int64
cost_price      float64
dtype: object

Transaction Dataframe Datatypes:-
transaction_id      int64
customer_id         int64
product_id          int64
quantity          float64
price             float64
timestamp          object
payment_method     object
dtype: object

In [6]:
# Missing values in each DataFrame

print("Customers Dataframe Missing Values:- ")
print(customersDf.isnull().sum(), "\n")

print("Products Dataframe missing values:- ")
print(productsDf.isnull().sum(), "\n")

print("Transactions Dataframe missing values:- ")
print(transactionsDf.isnull().sum())

Customers Dataframe Missing Values:-
customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

Products Dataframe missing values:-
product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

Transactions Dataframe missing values:-
transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
dtype: int64

In [7]:
# printing number of duplicate Transactions IDs 
print("Duplicates in transaction_id column (feature):- ",transactionsDf['transaction_id'].duplicated().sum())

Duplicates in transaction_id column (feature):-  15

In [8]:
# printing date range of transactions
print("Date Range of Transactions:- ")
print("Earliest Transaction Date:- ", transactionsDf['timestamp'].min())        
print("Latest Transaction Date:- ", transactionsDf['timestamp'].max())

Date Range of Transactions:-
Earliest Transaction Date:-  2023-01-01 00:39:00
Latest Transaction Date:-  2024-12-31 22:18:00

In [9]:
# converting 'timestamp' column to datetime format
transactionsDf['timestamp'] = pd.to_datetime(transactionsDf['timestamp'])
transactionsDf['timestamp']
#here pd.to_datetime() function converts time stamp to datetime format

0       2024-08-17 09:13:00
1       2023-11-17 20:50:00
2       2023-03-21 23:23:00
3       2024-11-18 17:04:00
4       2024-09-14 19:19:00
                ...
10010   2024-01-28 01:49:00
10011   2023-08-24 16:53:00
10012   2024-07-22 10:13:00
10013   2023-03-14 09:17:00
10014   2023-01-07 11:50:00
Name: timestamp, Length: 10015, dtype: datetime64[ns]

In [10]:
# Extracting hour of day, Day of week, Day_Name and Month
transactionsDf['hour'] = transactionsDf['timestamp'].dt.hour        #hour
transactionsDf['day_of_week'] = transactionsDf['timestamp'].dt.dayofweek        #Day of Week
transactionsDf['day_name'] = transactionsDf['timestamp'].dt.day_name()      #Name of Day
transactionsDf['month'] = transactionsDf['timestamp'].dt.month      # month
transactionsDf[['hour','day_of_week','day_name','month']]


#here .dt is date time accessor

       hour  day_of_week  day_name  month
0         9            5  Saturday      8
1        20            4    Friday     11
2        23            1   Tuesday      3
3        17            0    Monday     11
4        19            5  Saturday      9
...     ...          ...       ...    ...
10010     1            6    Sunday      1
10011    16            3  Thursday      8
10012    10            0    Monday      7
10013     9            1   Tuesday      3
10014    11            5  Saturday      1

[10015 rows x 4 columns]

# Part B: Data Cleaning & Transformation

In [11]:
# handling the numberic missing Values
# Checking the percentage of missing values in each numeric column of transactionsDf
print("Percentage of missing values in each column of transactionsDf:- \n")
for column in transactionsDf.columns:
    print(column + ": " + str(round(transactionsDf[column].isnull().mean()*100,2)) + " %" )
print("\n")

# Checking the percentage of missing values in each numeric column of customersDf
print("Percentage of missing values in each column of customersDf:- \n")
for column in customersDf.columns:
    print(column + ": " + str(round(customersDf[column].isnull().mean()*100,2)) + " %" )    
print("\n")

# checking the percentage of missing values in each numeric column of productsDf
print("Percentage of missing values in each column of productsDf:- \n")
for column in productsDf.columns:
    print(column + ": " + str(round(productsDf[column].isnull().mean()*100,2)) + " %" ) 
print("\n")
# As the percentage of missing values in all the columns is <5% Dropping them is an option, but
# it is always better to fill them with mean(for numeric values) or mode(for categorial values / objects) 
# to avoid unnecessary data loss

Percentage of missing values in each column of transactionsDf:-

transaction_id: 0.0 %
customer_id: 0.0 %
product_id: 0.0 %
quantity: 0.97 %
price: 1.02 %
timestamp: 0.0 %
payment_method: 1.01 %
hour: 0.0 %
day_of_week: 0.0 %
day_name: 0.0 %
month: 0.0 %


Percentage of missing values in each column of customersDf:-

customer_id: 0.0 %
customer_name: 0.0 %
email: 2.65 %
signup_date: 0.0 %
country: 0.0 %
age: 5.0 %


Percentage of missing values in each column of productsDf:-

product_id: 0.0 %
product_name: 0.0 %
category: 2.0 %
supplier_id: 0.0 %
cost_price: 0.0 %

In [3]:
# Filling missing numeric values in transactionsDf
for column in transactionsDf.columns:
    if transactionsDf[column].dtype in ['int64', 'float64']:
        mean_val=transactionsDf[column].mean()
        transactionsDf[column]=transactionsDf[column].fillna(mean_val)

# Filling missing numeric values in customersDf
for column in customersDf.columns:
    if customersDf[column].dtype in ['int64', 'float64']:
        mean_val=customersDf[column].mean()
        customersDf[column]=customersDf[column].fillna(mean_val)

# note:- 1. Since ProductsDf has no numeric missing values, no need for handling
#        2. While using the fillna() method with inplace=True, it leads to chained-assignment warnings.
#           Therefore, we assign the filled series back to the DataFrame column to avoid such warnings

NameError: name 'transactionsDf' is not defined

In [13]:
# Filling missing categorial values in transactionsdf
transactionsDf['payment_method'] = transactionsDf['payment_method'].fillna('Unknown')

# Filling missing categorial values in customersdf
customersDf['email'] = customersDf['email'].fillna('Unknown')

# Filling missing categorial values in productsdf
productsDf['category'] = productsDf['category'].fillna('Unknown')

In [14]:
# Verifying missing values after filling values
print("Missing values after inputing values:- \n")
print("TransactionsDf Missing Values:- \n", transactionsDf.isnull().sum(), "\n")
print("CustomersDf Missing Values:- \n", customersDf.isnull().sum(), "\n")
print("ProductsDf Missing Values:- \n", productsDf.isnull().sum(), "\n")

Missing values after inputing values:-

TransactionsDf Missing Values:-
 transaction_id    0
customer_id       0
product_id        0
quantity          0
price             0
timestamp         0
payment_method    0
hour              0
day_of_week       0
day_name          0
month             0
dtype: int64

CustomersDf Missing Values:-
 customer_id      0
customer_name    0
email            0
signup_date      0
country          0
age              0
dtype: int64

ProductsDf Missing Values:-
 product_id      0
product_name    0
category        0
supplier_id     0
cost_price      0
dtype: int64

In [15]:
# Merging DataFrames
transactions_newDf =transactionsDf
customers_newDf = customersDf
products_newDf = productsDf
print(transactions_newDf.shape)
print(customers_newDf.shape)
print(products_newDf.shape)
# Merged DataFrames are named as transactions_newDf, customers_newDf and products_newDf
completeDf = transactions_newDf.merge(customers_newDf, on='customer_id', how='left').merge(products_newDf, on='product_id', how='left')
print("The completeDf shape after merging all three DataFrames is:- ", completeDf.shape)
print("Datatypes of completeDf:- \n", completeDf.dtypes)
print("Missing values in completeDf:- \n", completeDf.isnull().sum())
# In here total 10 columns are added after merging all three DataFrames and no of rows remain same as transactionsDf
#also there are no missing values in completeDf
# The left join is used to ensure all transactions are retained even if customer or product details are missing

(10015, 11)
(2000, 6)
(150, 5)
The completeDf shape after merging all three DataFrames is:-  (10015, 20)
Datatypes of completeDf:-
 transaction_id             int64
customer_id                int64
product_id                 int64
quantity                 float64
price                    float64
timestamp         datetime64[ns]
payment_method            object
hour                       int32
day_of_week                int32
day_name                  object
month                      int32
customer_name             object
email                     object
signup_date               object
country                   object
age                      float64
product_name              object
category                  object
supplier_id                int64
cost_price               float64
dtype: object
Missing values in completeDf:-
 transaction_id    0
customer_id       0
product_id        0
quantity          0
price             0
timestamp         0
payment_method    0
hour              0
day_of_week       0
day_name          0
month             0
customer_name     0
email             0
signup_date       0
country           0
age               0
product_name      0
category          0
supplier_id       0
cost_price        0
dtype: int64

In [16]:
# Creating revenue column revenur = quantity * price
completeDf['revenue']=completeDf['quantity']*completeDf['price']

# Creating profit margin column profit_margin = (price - cost_price) / price × 100
completeDf['profit_margin'] = (completeDf['price']-completeDf['cost_price']) / completeDf['price']*100

print(completeDf['revenue'].head(2))
print(completeDf['profit_margin'].head(2))

0    112.87
1    211.90
Name: revenue, dtype: float64
0    47.089572
1    59.938650
Name: profit_margin, dtype: float64

# Part C: Aggregation & Analysis

In [17]:
# creating empty DataFrames for Part C: Aggregation & Analysis
c1_df = pd.DataFrame()            # Df for Customer Metrics
c2_df = pd.DataFrame()            # Df for Time-based Analysis  
#c3_df = pd.DataFrame()             Df for Product Performance
#c4_df = pd.DataFrame()             Df for Customer Segmentation
#completeDf.columns

In [18]:
# Performing Part C1: Customer Metrics

# Creating total_revenue column
c1_df['total_revenue'] = completeDf.groupby('customer_id')['revenue'].sum()

# Creating total_transactions column
c1_df['total_transactions'] = completeDf.groupby('customer_id')['transaction_id'].nunique()         # nunique() method retuns the count of unique values

# Creating average_transaction_value column
c1_df['average_transaction_value'] = c1_df['total_revenue']/c1_df['total_transactions']

# Creating most_frequently_purchased_category column
c1_df['most_freuqntly_purchased_category'] = completeDf.groupby('customer_id')['category'].agg(lambda x: x.mode()[0])
# here we are using agg() method with lambda function to get the mode of category for each customer_id
# mode()[0] is used to get the first mode in case of multiple modes, as mode() returns a Series
c1_df = c1_df.sort_values('total_revenue',ascending = False)
# Displaying c1_df
c1_df

,total_revenue,total_transactions,average_transaction_value,most_freuqntly_purchased_category
customer_id,,,,
89,49651.340714,5,9930.268143,Automotive
1694,27484.674500,7,3926.382071,Automotive
399,26083.285634,44,592.801946,Toys
157,22147.725180,46,481.472287,Home & Garden
337,20460.087386,39,524.617625,Toys
...,...,...,...,...
1936,26.420000,1,26.420000,Toys
1251,26.150000,1,26.150000,Books
446,21.100000,1,21.100000,Office
1534,20.770000,1,20.770000,Sports
277,17.060000,1,17.060000,Toys

In [19]:
# performing Part C2: Time-based Analysis

# Creating revenue column revenue_per_month column
c2_df['revenue_per_month'] = completeDf.groupby('month')['revenue'].sum()

# Creating number_of_unique_customers_per_month comlumn
c2_df['number_of_unique_customers_per_month'] = completeDf.groupby('month')['customer_id'].nunique()

# Creating average_order_value_per_month column
c2_df['average_order_value_per_month'] = c2_df['revenue_per_month'] / c2_df['number_of_unique_customers_per_month']

# Creating month_over_month_revenue_growth column (formula:-current_month_revenue - previous_month_revenue) / previous_month_revenue × 100
c2_df['month_over_month_revenue_growth'] = (c2_df['revenue_per_month']-c2_df['revenue_per_month'].shift(1))*100 / c2_df['revenue_per_month'].shift(1)
#here .shift(1) function shifts the values by 1 position to get previous month revenue

# Displaying c2_df
c2_df

,revenue_per_month,number_of_unique_customers_per_month,average_order_value_per_month,month_over_month_revenue_growth
month,,,,
1,354999.572246,609,582.922122,NaN
2,310336.728301,520,596.801401,-12.581098
3,365448.382416,568,643.395039,17.758663
4,344877.333998,587,587.525271,-5.628989
5,354032.980036,562,629.951922,2.654754
6,363315.068364,579,627.487165,2.621815
7,317193.478364,556,570.491868,-12.694654
8,356920.331085,563,633.961512,12.524486
9,297638.513470,506,588.218406,-16.609258
10,334929.009633,550,608.961836,12.528787
11,339845.443001,583,582.925288,1.467903
12,359742.480419,592,607.673109,5.854731

In [20]:
# Performing Part C3: Product Performance

# Finding top 10 products by revenue, total quantity sold, and profit margin and storing them in respective lists
top_10_products_by_revenue = (completeDf.groupby('product_name')['revenue'].sum().sort_values(ascending=False).head(10).index.tolist())
top_10_products_by_total_quantity_sold = (completeDf.groupby('product_name')['quantity'].sum().sort_values(ascending=False).head(10).index.tolist())
top_10_products_by_profit_margin = (completeDf.groupby('product_name')['profit_margin'].mean().sort_values(ascending=False).head(10).index.tolist())

# Creating c3_df DataFrame with the top 10 products lists in dictionary format
c3_df = pd.DataFrame({
    'top_10_products_by_revenue': top_10_products_by_revenue,
    'top_10_products_by_total_quantity_sold': top_10_products_by_total_quantity_sold,
    'top_10_products_by_profit_margin': top_10_products_by_profit_margin
})

# Displaying c3_df
c3_df

,top_10_products_by_revenue,top_10_products_by_total_quantity_sold,top_10_products_by_profit_margin
0,Product_OFF_100,Product_SPO_40,Product_AUT_120
1,Product_OFF_59,Product_SPO_37,Product_OFF_85
2,Product_OFF_47,Product_BOO_38,Product_CLO_87
3,Product_CLO_115,Product_CLO_115,Product_ELE_103
4,Product_ELE_91,Product_BOO_131,Product_TOY_20
5,Product_AUT_124,Product_HOM_27,Product_AUT_117
6,Product_ELE_74,Product_OFF_59,Product_OFF_81
7,Product_AUT_117,Product_HOM_130,Product_BOO_83
8,Product_OFF_107,Product_AUT_46,Product_FOO_139
9,Product_TOY_7,Product_BOO_14,Product_BEA_140

In [21]:
# Performing Part C4: Customer Segmentation
# Recency analysis
max_date = completeDf['timestamp'].max()
last_transaction_date = completeDf.groupby('customer_id')['timestamp'].max()
recency = (max_date - last_transaction_date).dt.days

# Frequency analysis
total_number_of_transactions = completeDf.groupby('customer_id')['transaction_id'].nunique()

# Monetary analysis
total_revenue = completeDf.groupby('customer_id')['revenue'].sum()

# Creating c4_df DataFrame with recency, frequency, and monetary values
c4_df = pd.DataFrame({
    'recency': recency,
    'frequency': total_number_of_transactions,
    'monetary': total_revenue
})

# Displaying c4_df
c4_df

             recency  frequency      monetary
customer_id
1                320          5   1424.990000
2                 38          3    641.990000
3                 38         30  11194.844786
4                172          8   4383.630000
5                143          5   1920.980000
...              ...        ...           ...
1994             129          5   2428.320000
1996             391          1    279.430000
1997             174          4   1997.030000
1998             273          1   1265.050000
1999              39          7   3315.822687

[1692 rows x 3 columns]

# Part D: Advanced Operations

In [22]:
# Identify suspicious transactions defined as:

def find_suspicious_transactions(full_data):
    """
    Identify suspicious transactions using vectorized operations.
    Returns: DataFrame with columns [transaction_id, customer_name, reason]
    """
    # Vectorized filtering of entire DataFrame for suspicious transactions
    transaction = full_data[((full_data['quantity'] > 100) & (full_data['price'] < 10)) | (full_data.groupby(['customer_id', 'hour'])['transaction_id'].transform('count') > 3)]
    
    # Determine reasons for suspicion using vectorized operations and lambda function
    reasons = [transaction.apply(lambda row: 'Quantity > 100 and Price < 10' if (row['quantity']>100 and row['price']<10) else 'More than 3 purchases in a single hour', axis=1)]
    
    # Constructing and returning the result DataFrame
    return pd.DataFrame({
        'transaction_id': transaction['transaction_id'],
        'customer_name': transaction['customer_name'],
        'reason': reasons[0]
    })

# Finding suspicious transactions
suspicious_transactions_Df=find_suspicious_transactions(completeDf).reset_index(drop=True)

# Displaying suspicious_transactions_Df
print(suspicious_transactions_Df)

     transaction_id  customer_name                                  reason
0               358  Customer_1231  More than 3 purchases in a single hour
1              7908    Customer_79  More than 3 purchases in a single hour
2              9974   Customer_417  More than 3 purchases in a single hour
3              9531   Customer_341  More than 3 purchases in a single hour
4              7896    Customer_79  More than 3 purchases in a single hour
..              ...            ...                                     ...
685            9798   Customer_398  More than 3 purchases in a single hour
686            5970   Customer_489           Quantity > 100 and Price < 10
687            7438     customer15  More than 3 purchases in a single hour
688            9400   Customer_323  More than 3 purchases in a single hour
689            9382   Customer_320  More than 3 purchases in a single hour

[690 rows x 3 columns]

In [23]:
# Rolling Average Analysis
seven_day_rolling_Avg = completeDf.sort_values(['customer_id','timestamp']).set_index('timestamp').groupby('customer_id')['revenue'].rolling('7D',min_periods=1).mean().reset_index()
seven_day_rolling_Avg.head()

# the rolling function here is use to perform operaions on a dataframe or series over a period/window fo time 
# Syntax:-DataFrame/Series.rolling(window, min_periods=None, center=False, win_type=None, on=None, axis=0, closed=None)

   customer_id           timestamp  revenue
0            1 2023-02-05 16:03:00   270.14
1            1 2023-02-16 21:22:00   243.93
2            1 2023-08-05 10:32:00   223.66
3            1 2023-10-07 18:39:00   217.14
4            1 2024-02-15 05:18:00   470.12

In [24]:
# Feature Engineering

# days_since_signup: Days between signup date and first transaction
completeDf['signup_date'] = pd.to_datetime(completeDf['signup_date'])
signup_Date = completeDf.groupby('customer_id')['signup_date'].min()     
transaction_dates = completeDf.groupby('customer_id')['timestamp'].min()
days_since_signup = abs((transaction_dates - signup_Date).dt.days)               # dt.days gets the difference in days

# purchase_frequency: Average days between purchases
pruchase_frequency = completeDf.groupby('customer_id')['timestamp'].apply(lambda x: x.sort_values().diff().dt.days.mean())      # diff() function calculates the difference between consecutive transaction dates after sorting them (for dates it returns Timedelta (diff btwn consecutive timestamps) object)

# category_diversity: Number of unique product categories purchased
category_diversity = completeDf.groupby('customer_id')['category'].nunique()

# preferred_payment: Most used payment method
preferred_payment = completeDf.groupby('customer_id')['payment_method'].agg(lambda x: x.mode()[0])

feature_engineering = pd.DataFrame({
    'days_since_signup': days_since_signup,
    'pruchase_frequency': pruchase_frequency,
    'category_diversity':category_diversity,
    'preferred_payment': preferred_payment
})
# Displaying first 5 rows of fearure_engineering
feature_engineering.head()

,days_since_signup,pruchase_frequency,category_diversity,preferred_payment
customer_id,,,,
1,373,93.250000,3,PayPal
2,2,194.500000,2,Bank Transfer
3,60,22.137931,3,Bank Transfer
4,476,62.285714,3,Bank Transfer
5,155,111.750000,2,Bank Transfer

# Part E: Code Quality & Efficiency

In [25]:
# E1. Optimization
# Slow Code (DO NOT USE!)
import time
start_slow = time.time()
result = []
for idx, row in completeDf.iterrows():
    if row['age'] > 25 and row['country'] == 'USA':
        result.append(row['customer_id'])
end_slow = time.time()
start_fast = time.time()
result1 = completeDf.apply(lambda row: row['customer_id'] if (row['age'] > 25 and row['country'] == 'USA') else None, axis = 1)
end_fast = time.time()

print("Slow Approach:- ", end_slow - start_slow)
print("Vectorized/ Optimized Approach:- ", end_fast - start_fast)

Slow Approach:-  0.4027578830718994
Vectorized/ Optimized Approach:-  0.10683536529541016

In [26]:
# E2. Reusable Function
transactions_newDf['revenue'] = completeDf['revenue']       #adding the Revenue column from completeDf to transaction_newDf
def customer_lifetime_value(transactions_df, customer_id, discount_rate=0.1):
    
    """
    Calculate customer lifetime value (CLV) with time-discounting.
    
    CLV = Σ(revenue × discount_factor^month)
    where month is indexed from the first purchase
    """
    # Get first transaction date for each customer
    first_transaction = transactions_df.groupby('customer_id')['timestamp'].transform('min')

    # Calculate months since first purchase (no map used)
    transactions_df['month_index'] = (transactions_df['timestamp'].dt.to_period('M').astype(int)- first_transaction.dt.to_period('M').astype(int))
    #Note:-  dt.to_period('M') converts to monthly period (i.e. Gives monthly period), astype(int) converts period to integer for calculation
    '''        similar to 'M' there are:- 
                Frequency code	Meaning
                'D'	Day
                'M'	Month
                'Q'	Quarter
                'Y'	Year
                'H'	Hour '''
    # Compute CLV per customer
    CLV = transactions_df.groupby('customer_id').apply(lambda x: (x['revenue'] * ((1 - discount_rate) ** x['month_index'])).sum())
        # include_groups = False to avoid multi-level index and warning, this is because we are grouping by customer_id and applying a function
    return CLV

# Example usage
CLV = customer_lifetime_value(transactions_newDf, transactions_newDf['customer_id'])
print(CLV.head())

customer_id
1     859.179518
2     398.219447
3    6658.994148
4    1545.714927
5     728.249713
dtype: float64

C:\Users\Aniket\AppData\Local\Temp\ipykernel_13104\3690771968.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  CLV = transactions_df.groupby('customer_id').apply(lambda x: (x['revenue'] * ((1 - discount_rate) ** x['month_index'])).sum())

#